<!-- <app-add-movie></app-add-movie> -->
<!-- <app-movie-list></app-movie-list> -->

<nav class="navbar navbar-inverse">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MyApp</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/movie-list">Movies</a></li>
          <li><a routerLink="/movie-add">Add Movie</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/help">Help</a></li>
        </ul>
      </div>
  </div>
</nav>

<!-- <ul>
  <li><a routerLink="/movie-list">Movies</a></li>
  <li><a routerLink="/movie-add">Add Movie</a></li>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/help">Help</a></li>
</ul> -->

<router-outlet></router-outlet>
