<div class="container">
  <h1>Add Movie</h1>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Title</label>
        <input [(ngModel)]="title" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Year</label>
        <input [(ngModel)]="year" type="number" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Directors</label>
        <input [(ngModel)]="directors" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Writers</label>
        <input [(ngModel)]="writers" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Stars</label>
        <input [(ngModel)]="stars" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Geners</label>
        <input [(ngModel)]="genre" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Rating</label>
        <input [(ngModel)]="rating" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Length</label>
        <input [(ngModel)]="length" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Short Description</label>
        <textarea [(ngModel)]="shortDescription" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Storyline</label>
        <textarea [(ngModel)]="storyline" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="">Select Thumbnail</label>
      <input accept="image/*" (change)="onChange($event)" type="file" class="form-control">

      <div class="row" style="margin-top: 30px">
        <div class="col-md-12">
          <button (click)="onAdd()" class="btn btn-success">Add</button>
          <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="imageUrl != null">
      <label for="">Thumbnail</label>
      <img [src]="imageUrl" class="thumbnail" alt="" style="max-height: 100px;">
    </div>
  </div>


</div>
