<div class="container">
  <h1>{{selectedMovie.title}}</h1>


  <div style="margin-top: 30px;"><strong>Year: </strong> {{selectedMovie.year}}</div>
  <div><strong>Directors: </strong> {{selectedMovie.directors}}</div>
  <div><strong>Writers: </strong> {{selectedMovie.writers}}</div>
  <div><strong>Genres: </strong> {{selectedMovie.genre}}</div>
  <div><strong>Stars: </strong> {{selectedMovie.stars}}</div>
  <div><strong>Short Description: </strong> {{selectedMovie.shortDescription}}</div>
  <div><strong>Storyline: </strong> {{selectedMovie.storyline}}</div>


</div>
